@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,300&display=swap");
.heading--xxl {
  font-size: 48px;
  line-height: 54px;
  letter-spacing: -2.12px;
  font-weight: 400;
}

.heading--xl {
  font-size: 40px;
  line-height: 43px;
}

.heading--l {
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
}

.heading--md {
  font-size: 28px;
  line-height: 44px;
}

.heading--s {
  font-size: 20px;
  line-height: 56px;
}

.heading--xs {
  font-size: 16px;
  letter-spacing: 0.4px;
}

.heading--xxs {
  font-size: 14px;
}

.text--xxxl {
  font-size: 24px;
}

.text--xxl {
  font-size: 20px;
  line-height: 20px;
}

.text--xl {
  font-size: 18px;
  line-height: 28px;
}

.text--l {
  font-size: 16px;
  line-height: 25px;
}

.text--md {
  font-size: 14px;
  line-height: 20px;
}

.text--s {
  font-size: 12px;
  line-height: 24px;
}

.text--xs {
  font-size: 12px;
  line-height: 19px;
}

.input-wrapper {
  width: 302px;
  height: 52px;
  padding: 16px 20px;
  border-radius: 3px 0 0 3px;
  color: #ffffff;
  background-color: rgba(177, 177, 177, 0.5);
  border: none;
  outline: none;
}
.input-wrapper::placeholder {
  color: #ffffff;
}

.input-button {
  position: relative;
  top: 1px;
  left: -4px;
  width: 120px;
  height: 52px;
  padding: 16px 20px 17px;
  border-radius: 0 3px 3px 0;
}

.play-btn {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  color: #3d3f6d;
  background: linear-gradient(132deg, #3dbdb6 6%, #0089ce);
  cursor: pointer;
}

.play-btn::before {
  content: "";
  display: inline-block;
  border-left: 20px solid;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  margin-top: 23px;
  margin-left: 10px;
}

.arrow {
  display: inline-block;
  width: 8px;
  height: 8px;
  color: #2d8cff;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  padding: 0 20px 0;
  margin: 0 auto;
}

.section--lg {
  padding: 80px 0;
}

.section--md {
  padding: 40px 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0 0px 0;
  background: #3e3e58;
  z-index: 5;
}
.navbar__main-logo {
  display: inline-block;
  padding: 15px 0;
}
.navbar__right {
  float: right;
  margin: 0;
}
.navbar__right--button {
  display: inline-block;
}
.navbar__right li {
  display: inline-block;
  padding: 0 19px 34px;
  cursor: pointer;
}
.navbar__right li a {
  color: #ffffff;
  opacity: 0.5;
}
.navbar__right li:hover {
  border-bottom: 4px solid #3dbdb6;
  transition: all 0.3s ease-in;
}
.navbar__right span {
  border: 1px solid #979797;
  border-radius: 4px;
  padding: 15px 20px;
  margin-left: 36px;
  cursor: pointer;
}
.navbar__right span a {
  color: #ffffff;
  opacity: 0.5;
}
.navbar__menu {
  display: none;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #3e3e58;
  overflow: hidden;
}
.hero .container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.hero__content {
  width: 100%;
  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero__heading {
  width: 343px;
  margin-bottom: 47px;
  color: #ffffff;
  padding-right: 30px;
}
.hero__image {
  position: absolute;
  bottom: -80px;
  right: -150px;
}
.hero__form {
  position: relative;
  max-width: 422px;
}
.hero__input {
  padding: 16px 140px 16px 20px;
  border-radius: 3px 0 0 3px;
  color: #ffffff;
  border: none;
  outline: none;
  width: 100%;
  height: 52px;
  background-color: rgba(177, 177, 177, 0.5);
}
.hero__input::placeholder {
  color: #ffffff;
}
.hero__input-button {
  position: absolute;
  text-align: center;
  color: #ffffff;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 16px 20px 17px;
  border-radius: 0 3px 3px 0;
  text-align: center;
  width: 120px;
  height: 52px;
  background-color: #3dbdb6;
}

.company {
  background-color: #f9fafa;
  border: 1px solid #eeeeee;
}

.company-list {
  text-align: center;
}

.company-list li {
  display: inline-block;
  margin-right: 46px;
  vertical-align: middle;
}

.company-list li:nth-child(5n+5) {
  margin-right: 0;
}

.support {
  text-align: center;
}
.support__heading {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #333333;
}
.support__heading span {
  font-weight: bold;
}

.support-list {
  text-align: center;
}
.support-list li {
  display: inline-block;
  max-width: 225px;
  margin-right: 55px;
}
.support-list li:nth-child(3n+3) {
  margin-right: 0;
}
.support-list__logo {
  display: inline-block;
  width: 99px;
  height: 99px;
  border-radius: 50%;
  padding: 30px;
  margin-bottom: 14px;
}
.support-list__logo--green {
  background: linear-gradient(132deg, #3dbdb6 6%, #0089ce);
}
.support-list__logo--violet {
  background: linear-gradient(309deg, #7a86cc 91%, #9facf8);
}
.support-list__logo--red {
  background: linear-gradient(to bottom, #f3778f, #f26a95 44%, #f15a9d);
}
.support-list__heading {
  margin-bottom: 12px;
  color: #333333;
}
.support-list__paragraph {
  margin-bottom: 12px;
  color: #72808e;
}
.support-list__link {
  margin-bottom: 12px;
  font-weight: 600;
}
.support-list__link a {
  color: #2d8cff;
}

.todo-list {
  width: 100%;
  background: linear-gradient(117deg, #3dbdb6 3%, #0089ce 100%);
  text-align: center;
  color: #ffffff;
  overflow: hidden;
}
.todo-list__heading {
  font-weight: normal;
  margin-bottom: 33px;
}
.todo-list__paragraph {
  margin-bottom: 60px;
}
.todo-list__main-content {
  width: 100%;
  font-size: 0;
}
.todo-list__left {
  width: 45%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.todo-list__right {
  display: inline-block;
  width: 55%;
  text-align: right;
  vertical-align: middle;
}
.todo-list__content-wrapper {
  padding: 18px 20px 32px 32px;
  background: rgba(24, 144, 164, 0.5);
  border-radius: 3px;
}
.todo-list__list {
  padding: 14px 0 0 33px;
  color: #0b5e6e;
}
.todo-list__small-heading {
  font-weight: normal;
}

.learn {
  width: 100%;
  text-align: center;
}
.learn__list::after {
  content: "";
  display: block;
  clear: both;
}
.learn__list li {
  display: inline-block;
  width: calc(33.3333333333% - 25px);
  margin-right: 25px;
  text-align: center;
  margin-bottom: 20px;
}
.learn__list {
  text-align: center;
}
.learn__list li:nth-child(3n+3) {
  margin-right: 0;
}
.learn__heading {
  margin-bottom: 73px;
}
.learn__picture {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.learn__paragraph {
  margin-bottom: 28px;
  line-height: normal;
  padding: 0 20px;
}
.learn__list li:nth-child(2) p {
  padding: 0 10px;
}
.learn__link a {
  color: #2d8cff;
}

.gartner-wrapper {
  color: #ffffff;
  background: linear-gradient(98deg, #1172d0 1%, #1d98d6 89%);
}

.gartner {
  font-size: 0;
  padding: 0;
}
.gartner__left {
  display: inline-block;
  width: 60%;
  vertical-align: middle;
}
.gartner__left a {
  color: #ffffff;
  text-decoration: underline;
}
.gartner__left p:first-child {
  margin-bottom: 21px;
}
.gartner__left p:first-child span {
  font-weight: bold;
}
.gartner__right {
  display: inline-block;
  width: 40%;
  text-align: right;
}
.gartner__right img {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}

.business {
  position: relative;
  text-align: center;
  width: 100%;
  padding: 360px 0;
  background-image: url("https://i.postimg.cc/vHvj73t7/Img-bg-women.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.business .container {
  width: 100%;
  height: 100%;
}
.business__main-wrapper {
  width: 100%;
  position: absolute;
  padding: 0 20px;
  top: 70%;
  left: 50%;
  color: #ffffff;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.business__heading {
  max-width: 837px;
  font-weight: lighter;
  margin: 0 auto 30px auto;
  font-style: italic;
  color: #ffffff;
}
.business__name-tag {
  display: inline-block;
  margin-bottom: 40px;
  font-weight: normal;
}
.business__play-button {
  margin: 0 auto;
}

.business::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #081941;
  opacity: 50%;
  z-index: 1;
}

.profile {
  width: 100%;
  text-align: center;
}
.profile__list {
  display: inline-block;
  min-height: 80px;
  width: calc(25% - 25px);
  margin-right: 25px;
  vertical-align: middle;
}
.profile__list :first-child :first-child::before {
  background: #000;
  display: none;
}
.profile__list:nth-child(4n+4) {
  margin-right: 0;
}
.profile__profile-pic {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  vertical-align: middle;
}
.profile__profile-pic::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 25px;
  color: #ffffff;
  display: inline-block;
  border-left: 18px solid;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  margin-top: 23px;
  margin-left: 10px;
}
.profile__content {
  width: 60%;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 12px;
  text-align: left;
}
.profile__name {
  opacity: 0.6;
  margin-bottom: 10px;
}

.delivery {
  background-color: #3dbdb6;
  text-align: center;
}
.delivery__heading {
  color: #ffffff;
  font-weight: normal;
  margin-bottom: 50px;
}
.delivery__form {
  position: relative;
  max-width: 422px;
  margin: 0 auto;
}
.delivery__input {
  padding: 16px 140px 16px 20px;
  border-radius: 3px 0 0 3px;
  color: #ffffff;
  border: none;
  outline: none;
  width: 100%;
  height: 52px;
  background-color: transparent;
  border: 1px solid #e1e1e1;
  box-shadow: 0 0 8px 0 rgba(177, 177, 177, 0.5);
}
.delivery__input::placeholder {
  color: #ffffff;
}
.delivery__input-button {
  position: absolute;
  text-align: center;
  color: #ffffff;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 16px 20px 17px;
  border-radius: 0 3px 3px 0;
  text-align: center;
  width: 120px;
  height: 52px;
  color: #3dbdb6;
  background-color: #ffffff;
}

.footer {
  background-color: #1f2532;
}
.footer__creater-info {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
.footer__main-logo {
  margin-bottom: 23px;
}
.footer__content {
  max-width: 196px;
  font-size: 12px;
  color: #ffffff;
  opacity: 0.6;
  font-weight: 100;
  line-height: 19px;
}
.footer__content a {
  font-size: 12px;
  color: #ffffff;
  opacity: 0.6;
  font-weight: 100;
  text-decoration: underline;
}
.footer__table {
  text-align: left;
  display: inline-block;
  width: 50%;
}
.footer__table--list {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
.footer__table--list li {
  font-size: 12px;
  color: #ffffff;
  opacity: 0.6;
  font-weight: 100;
  line-height: 28px;
  width: 160px;
}
.footer__table .list--heading {
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: normal;
  margin-bottom: 17px;
}
.footer__social-logo {
  width: 19%;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}
.footer__social-logo li {
  display: inline-block;
  margin-right: 12px;
}
.footer__social-logo li:last-child {
  margin-right: 0;
}

.footer-2 {
  color: #ffffff;
  background-color: #3e3e58;
  text-align: center;
  font-weight: 100;
}
.footer-2__content {
  opacity: 0.6;
}
.footer-2__content span {
  color: #ffffff;
  font-weight: bold;
}
.footer-2__content a {
  color: #ffffff;
  opacity: 0.6;
  text-decoration: underline;
}

@media screen and (max-width: 540px) {
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    vertical-align: middle;
    padding: 0;
    font-size: 0;
  }
  .navbar__main-logo {
    width: 35%;
    display: inline-block;
  }
  .navbar__right {
    display: none;
  }
  .navbar__content {
    position: static;
  }
  .navbar__menu {
    display: inline-block;
    padding: 15px 0;
    width: 65%;
    text-align: right;
  }
  .navbar__form {
    width: 100%;
  }
  .hero {
    width: 100%;
    height: 100vh;
  }
  .hero__content {
    margin: 0;
  }
  .hero__heading {
    padding-right: 0;
    font-size: 20px;
  }
  .hero__image {
    display: none;
  }
  .hero__form {
    width: 100%;
  }
  .company {
    text-align: center;
  }
  .company .company-list li {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .support {
    text-align: center;
  }
  .support .support-list li {
    width: 100%;
    text-align: center;
    margin: 0 0 25px;
  }
  .todo-list {
    text-align: center;
  }
  .todo-list__left {
    width: 100%;
    margin-bottom: 30px;
  }
  .todo-list__right {
    width: 100%;
  }
  .todo-list__right img {
    width: 100%;
    height: auto;
  }
  .learn {
    width: 100%;
    text-align: center;
  }
  .learn__list li {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .learn__heading {
    margin: 0 0 20px 0;
  }
  .learn__image {
    width: 100%;
    height: auto;
  }
  .gartner-wrapper .gartner {
    text-align: center;
  }
  .gartner-wrapper .gartner__left {
    width: 100%;
    margin-bottom: 20px;
  }
  .gartner-wrapper .gartner__right {
    text-align: center;
    width: 100%;
  }
  .business {
    width: 100%;
    height: 500px;
    background: url("https://i.postimg.cc/vHvj73t7/Img-bg-women.png");
    background-position: center right 30%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
  }
  .profile__list {
    width: 100%;
    margin: 0 0 25px 0;
  }
  .footer {
    width: 100%;
    text-align: center;
  }
  .footer__creater-info {
    width: 100%;
    text-align: center;
    margin: 0 auto 30px;
  }
  .footer__creater-info p {
    margin: 0 auto;
  }
  .footer__table {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer__table--list {
    width: 100%;
    margin-bottom: 15px;
  }
  .footer .list--heading {
    margin-bottom: 5px;
  }
  .footer__social-logo {
    width: 100%;
    text-align: center;
  }
  .heading--xxl {
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
  }
  .heading--xl {
    font-size: 25px;
    line-height: 23px;
  }
  .heading--l {
    font-size: 22px;
    line-height: 34px;
    font-weight: 400;
  }
  .heading--md {
    font-size: 20px;
    line-height: 22px;
  }
  .heading--s {
    font-size: 18px;
    line-height: 30px;
  }
  .heading--xs {
    font-size: 14px;
    letter-spacing: 0.4px;
  }
  .heading--xxs {
    font-size: 12px;
  }
  .text--xxxl {
    font-size: 22px;
  }
  .text--xxl {
    font-size: 18px;
    line-height: 20px;
  }
  .text--xl {
    font-size: 14px;
    line-height: 28px;
  }
  .text--l {
    font-size: 14 px;
    line-height: 25px;
  }
  .text--md {
    font-size: 12px;
    line-height: 20px;
  }
  .text--s {
    font-size: 10px;
    line-height: 24px;
  }
  .text--xs {
    font-size: 10px;
    line-height: 19px;
  }
  .section--md {
    padding: 35px 0;
  }
  .section--lg {
    padding: 50px 0;
  }
}

/*# sourceMappingURL=style.css.map */
