// Colors

$primary-color: #ffffff;

$bg-dark: #3e3e58;

$bright-green: #3dbdb6;

// Text color

$dark-black: #1f2532;

$dark-gray: #333333;

$light-gray: #72808e;

$blue-color: #2d8cff;

// Text color

$bg-linear-green: linear-gradient(132deg, #3dbdb6 6%, #0089ce);

$main-bg-green: linear-gradient(117deg, #3dbdb6 3%, #0089ce 100%);

$bg-linear-violet: linear-gradient(309deg, #7a86cc 91%, #9facf8);

$bg-linear-red: linear-gradient(to bottom, #f3778f, #f26a95 44%, #f15a9d);
