// Roboto

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,300&display=swap');

// Heading font

.heading--xxl{
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -2.12px;
    font-weight: 400;
}
.heading--xl{
    font-size: 40px;
    line-height: 43px;
}
.heading--l{
    font-size: 32px;
    line-height: 44px;
    font-weight: 400;
}
.heading--md{
    font-size: 28px;
    line-height: 44px;
}
.heading--s{
    font-size: 20px;
    line-height: 56px;
}
.heading--xs{
    font-size: 16px;
    letter-spacing: 0.4px;
}
.heading--xxs{
    font-size: 14px;
}

// Heading font

// Text fonts
.text--xxxl{
    font-size: 24px;
}
.text--xxl{
    font-size: 20px;
    line-height: 20px;
}
.text--xl{
    font-size: 18px;
    line-height: 28px;
}
.text--l{
    font-size: 16px;
    line-height: 25px;
}
.text--md{
    font-size: 14px;
    line-height: 20px;
}
.text--s{
    font-size: 12px;
    line-height: 24px;
}
.text--xs{
    font-size: 12px;
    line-height: 19px;
}

// Text fonts


