@media screen and (max-width: 540px) {
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    vertical-align: middle;
    padding: 0;
    font-size: 0;
    &__main-logo {
      width: 35%;
      display: inline-block;
    }
    &__right {
      display: none;
    }
    &__content{
      position: static;
    }
    &__menu {
      display: inline-block;
      padding: 15px 0;
      width: 65%;
      text-align: right;
    }
    &__form {
      width: 100%;
    }
  }

  .hero {
    // position: relative;
    width: 100%;
    height: 100vh;
    &__content {
      margin: 0;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
    }
    &__heading {
      padding-right: 0;
      font-size: 20px;
    }
    &__image {
      display: none;
    }
    &__form {
      width: 100%;
    }
  }

  .company {
    text-align: center;
    .company-list {
      li {
        width: 100%;
        margin: 0 0 20px 0;
      }
    }
  }

  .support {
    text-align: center;
    .support-list {
      li {
        width: 100%;
        text-align: center;
        margin: 0 0 25px;
      }
    }
  }

  .todo-list {
    text-align: center;
    &__left {
      width: 100%;
      margin-bottom: 30px;
    }
    &__right {
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .learn {
    width: 100%;
    text-align: center;
    &__list {
      li {
        width: 100%;
        margin: 0 0 20px 0;
      }
    }
    &__heading {
      margin: 0 0 20px 0;
    }
    &__image {
      width: 100%;
      height: auto;
    }
  }

  .gartner-wrapper {
    .gartner {
      text-align: center;
      &__left {
        width: 100%;
        margin-bottom: 20px;
      }
      &__right {
        text-align: center;
        width: 100%;
      }
    }
  }

  .business {
    width: 100%;
    height: 500px;
    background: url("https://i.postimg.cc/vHvj73t7/Img-bg-women.png");
    background-position: center right 30%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
  }

  .profile {
    &__list {
      width: 100%;
      margin: 0 0 25px 0;
    }
  }

  .footer {
    width: 100%;
    text-align: center;
    &__creater-info {
      width: 100%;
      // margin-bottom: 30px;
      text-align: center;
      margin: 0 auto 30px;
      p {
        margin: 0 auto;
      }
    }
    &__table {
      width: 100%;
      margin-bottom: 30px;
      &--list{
        width: 100%;
        margin-bottom: 15px;
      }
    }
    .list--heading{
      margin-bottom: 5px;
    }
    

    &__social-logo {
      width: 100%;
      text-align: center;
    }
  }

  // Media query for text

  // Heading font

  .heading--xxl {
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
  }
  .heading--xl {
    font-size: 25px;
    line-height: 23px;
  }
  .heading--l {
    font-size: 22px;
    line-height: 34px;
    font-weight: 400;
  }
  .heading--md {
    font-size: 20px;
    line-height: 22px;
  }
  .heading--s {
    font-size: 18px;
    line-height: 30px;
  }
  .heading--xs {
    font-size: 14px;
    letter-spacing: 0.4px;
  }
  .heading--xxs {
    font-size: 12px;
  }

  // Heading font

  // Text fonts
  .text--xxxl {
    font-size: 22px;
  }
  .text--xxl {
    font-size: 18px;
    line-height: 20px;
  }
  .text--xl {
    font-size: 14px;
    line-height: 28px;
  }
  .text--l {
    font-size: 14 px;
    line-height: 25px;
  }
  .text--md {
    font-size: 12px;
    line-height: 20px;
  }
  .text--s {
    font-size: 10px;
    line-height: 24px;
  }
  .text--xs {
    font-size: 10px;
    line-height: 19px;
  }

  // Text fonts

  //   Section

  .section--md {
    padding: 35px 0;
  }
  .section--lg {
    padding: 50px 0;
  }
}
