@mixin footer-data {
  font-size: 12px;
  color: $primary-color;
  opacity: 0.6;
  font-weight: 100;
}

.footer {
  background-color: $dark-black;
  &__creater-info {
    width: 30%;
    display: inline-block;
    vertical-align: top;
  }
  &__main-logo {
    margin-bottom: 23px;
  }
  &__content {
    max-width: 196px;
    @include footer-data;
    line-height: 19px;
    a {
      @include footer-data;
      text-decoration: underline;
    }
  }

  &__table {
    text-align: left;
    display: inline-block;
    width: 50%;
    &--list {
      display: inline-block;
      width: 30%;
      vertical-align: top;
      li {
        @include footer-data;
        line-height: 28px;
        width: 160px;
      }
    }
    .list--heading {
      font-size: 13px;
      text-transform: uppercase;
      color: $primary-color;
      font-weight: normal;
      margin-bottom: 17px;
    }
  }

  &__social-logo {
    width: 19%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    li {
      display: inline-block;
      margin-right: 12px;
    }
  }

  &__social-logo li:last-child {
    margin-right: 0;
  }
}
