.profile {
  width: 100%;
  text-align: center;
  &__list {
    position: relative;
    display: inline-block;
    min-height: 80px;
    width: calc((100% / 4) - 25px);
    margin-right: 25px;
    vertical-align: middle;
  }
  &__list::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 20px;
    color: $primary-color;
    display: inline-block;
    border-left: 18px solid;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin-top: 23px;
    margin-left: 10px;
  }
  &__list::after {
    content: "";
    display: block;
    clear: both;
  }
  &__list:nth-child(4n + 4) {
    margin-right: 0;
  }
  &__profile-pic {
    float: left;
    margin-right: 5px;
  }
  &__content {
    display: block;
    padding: 11px 0 14px 0;
  }
  &__name {
    margin-bottom: 10px;
  }
}
