.todo-list {
  width: 100%;
  background: $main-bg-green;
  text-align: center;
  color: $primary-color;
  overflow: hidden;
  &__heading {
    margin-bottom: 33px;
  }
  &__paragraph {
    margin-bottom: 60px;
  }
  &__main-content::after {
    content: "";
    display: block;
    clear: both;
  }
  &__main-wrapper{
    line-height: 100px;
  }
  &__sub-wrapper{
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
  }
  &__left {
    max-width: 502px;
    text-align: left;
    float: left;
  }
  &__right {
    float: right;
  }
  &__content-wrapper {
    padding: 18px 26px 32px 32px;
    background: rgba(24, 144, 164, 0.5);
    border-radius: 3px;
  }
  &__list {
    padding: 14px 0 0 33px;
    color: #0b5e6e;
  }
}
